@import '/src/styles/mixins.scss';

.flipper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
  min-height: 800px;

  @include desktop {
    min-height: 615px;
  }
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  background-image: linear-gradient(#00000055, #00000055),
    url('/assets/images/character-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 90vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  h2 {
    text-align: center;
    font-family: 'Harry-Potter-01';
    font-size: 3rem;
    letter-spacing: 16px;
    padding: 0 15px;
    margin-bottom: 20px;
  }

  @include desktop {
    width: 40vw;
    height: 52vh;
    background-position: 100% 50%;

    h2 {
      margin-bottom: 0;
    }
  }
}

.flip-back {
  transform: rotateY(180deg);
}

.character-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;

  @include desktop {
    flex-direction: row;
    gap: 50px;
  }
}

.character-image-container {
  img {
    border-radius: 20%;
  }
}

.character-dead {
  img {
    filter: grayscale(100%);
  }
}

.character-info-container {
  p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
    text-align: center;

    @include desktop {
      text-align: left;
      max-width: 200px;
    }
  }
}